.simple-label {
  font-weight: bold;
  text-align: center;
  &.leaflet-tooltip {
    text-shadow: none;
    background-color:transparent;
    border:none;
    box-shadow: none;
  }
  &.white {
    color: #fff;
  }
  &.blue {
    color: rgb(197, 212, 240);
  }
  &.yellow {
    color: #E7E8C0
  }
}

.leaflet-ghost-icon-pane .leaflet-label {
  z-index: 600;
}

.simple-label .leaflet-ghost-label-collapsed {
  // color: $active-color;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  /* text-shadow: none; */
  display: block;
  // min-width: $lh-normal;
  /* height: 20px; */
  border-radius: 50%;
  // border: $menu-border;
  /* background-color: white; */
  text-align: center;
}
