
const $cvi_land_parcel = $("#r<%=params[:id]%>");
const form =
  "<tr class='edit-form'><td colspan='13'><%= j render(template:'/backend/cvi_land_parcels/form_wrapper') %></td></tr>";

ekylibre.map.edit(<%=params[:id]%>,'cvi_land_parcels')

if ($cvi_land_parcel.next("tr.edit-form").length === 0) {
  $cvi_land_parcel.after(form);
} else {
  $("tr.edit-form").replaceWith(form);
}

$('tr').not('.edit-form').not($('.edit-form').prev('tr')).toggleClass("disabled-row")
