


$('.btn-container a').attr("disabled", true);
const $cvi_land_parcel = $("#r<%=params[:id]%>");
ekylibre.map.addControl('shape_cut');
ekylibre.map._cartography.controls.get('shape_cut').getControl()._handler.activate(<%=params[:id]%>);

const form =
  "<tr class='edit-form'><td colspan='15'><%= j render(template:'/backend/cvi_land_parcels/split_form') %></td></tr>";

if ($cvi_land_parcel.next("tr.edit-form").length === 0) {
  $cvi_land_parcel.after(form);
} else {
  $("tr.edit-form").replaceWith(form);
}
$('input[type=checkbox]').attr('disabled', true)
$('tr').not('.edit-form').not($('.edit-form').prev('tr')).toggleClass("disabled-row")
