
.modal-header.colored-background
  %span.modal-title.h4= :delete_cvi_cadastral_plant_header.tl
.modal-body
  .modal-introduction
    = :delete_cvi_cadastral_plant_body.tl.html_safe
.modal-footer
  = link_to :cancel.tl, '#', class: 'btn btn-default',data: { dismiss: 'modal' }
  = link_to :confirm.tl, backend_cvi_cadastral_plant_path(cvi_cadastral_plant_id), class: 'btn btn-primary', method: :delete, remote: true 