- options = {}
- options[:url] = @form_url if @form_url
- options.deep_merge!(data: {dialog: params[:dialog]}) if params[:dialog]
- options[:namespace] = params[:namespace] if params[:namespace]
- options[:remote] = true

= ekylibre_form_for(resource, options) do |f|
  - f.add(:submit, :update.tl, data: {disable_with: :please_wait.tl}, class: 'primary')

  - if params[:form_partial]
    = f.fields(params[:form_partial])
  - else
    = f.fields
  - f.add(:link, :cancel.tl, backend_cvi_statement_path(resource.cvi_statement), class: 'btn')
  = f.actions
