.land-parcels-not-created {
  font-weight: bolder;
  color: #c91c07;
}


.land-parcels-created {
  font-weight: bolder;
  color: #7BA651;
}


.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  margin-bottom: 50px;
}