.nested-fields
  = f.referenced_association :storage, source: { scope: { of_variety: :tank }  }, label: :tank.tl
  = f.input :quantity_value, label: :must_volume.tl
  = f.input :quantity_unit, as: :hidden, input_html: { value: :hectoliter }
  = link_to_remove_nested_association(:storages, f)
